.content-wrapper {
  display: flex;
  gap: 1rem;
  margin: 1rem auto;

  aside {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    min-width: 300px;
  }

  main {
    display: flex;
    flex-direction: column;
    background: #fff;
    flex-basis: 100%;
    padding: 2rem;
  }

  .aside-widget {
    .widget-title {
      font-size: 1.5rem;
      font-weight: bolder;
    }

    .widget-content {
      margin-top: 10px;
      padding: 0.1rem;
    }
  }
}
